<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Users</title>
    <link rel="stylesheet" href="/stylesheets/list.css">
</head>
<body>
    {{> navbar}}
    <div class="container-list">
        {{#each usuarios}}
            <div class="card">
                <h1>{{name}} {{second_name}}</h1>
                <h1>{{email}}</h1>
                <div class="buttons">
                    <button class="editar"><a href="/update-user/{{_id}}">Editar</a></button>
                    <form action="/delete-user/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="eliminar">Eliminar</a></button>
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
</body>
</html>